.performance-audit-container {
  display: flex;
}

.content {
  padding: 2rem;
  max-width: 1200px;
  width: 100%;
  margin-left: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: #1e293b;
}

.subtitle {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #475569;
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 2.5rem;
}

.audit-image {
  width: 420px;
  height: auto;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.score-block {
  max-width: 350px;
  text-align: center;
}

.score-circle {
  width: 140px;
  height: 140px;
  margin: 0 auto 1rem;
}

.score-text {
  font-size: 1rem;
  color: #334155;
}

.metrics-section {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 2rem;
}

.metric-circle {
  width: 120px;
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.metric-circle.selected {
  transform: scale(1.1); /* Mise en valeur de la métrique sélectionnée */
}

.metric-circle p {
  margin-top: 0.5rem;
  color: #475569;
  font-size: 0.9rem;
}

.metric-detail-section {
  margin-top: 2rem;
  text-align: center;
  width: 100%;
  background: #f9fafb;
  padding: 2rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.metric-description {
  font-size: 1rem;
  color: #475569;
  padding: 1rem;
  background-color: #e2e8f0;
  border-radius: 0.8rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.metric-error-solution {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.error, .solution {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.error {
  background-color: #fff1f1;
  border: 1px solid #ff0000;
}

.error-icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  color: #ff0000;
}

.solution {
  background-color: #f1fff6;
  border: 1px solid #28a745;
}

.solution-icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  color: #28a745;
}

.solution span, .error span {
  font-size: 1rem;
  color: #475569;
}
